body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: "Roboto", helvetica, arial, sans-serif;
}

.top-head {
    background-color: black;
    display: block;
    margin-top: 0px;
    padding: 30px 5px 30px 5px;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px #DAA520;
}

.top-head nav {
    display: inline;
    font-size: 20px;
    margin-left: 75px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.top-head ul {
    display: inline;
    font-style: italic;
}

.top-head li{
    display: inline;
    padding: 5px;
    float: right;
}

@import url(https://fonts.googleapis.com/css?family=Roboto: 400, 500, 700, 300, 100);

.top-head img {
    width: 70px;
    height: 50px;
    display: inline;
    position: absolute;
    float: left;
    top: 0;
    margin-top: 15px ;
}

.header-nav {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header-nav ul {
    float: left;
    padding: 0 0 0 10px;
    margin: 0;
    
}

.header-nav li {
    border-right: 2px solid #343a45;
    padding: 0 5px 0 5px;
}

.header-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container-queue {
    display: block;
    position: fixed;
    top: 30%;
    width: 100%;

}

.container-queue table {
    display: inline;

}

.container-queue a {
    display: inline;
    border-radius: 3px solid #222222;
    color: #fff;
    text-decoration: none;
    padding: 25px;
    
}

.container-queue {
    display: inline;
}

.table-position {
    float: left;
    padding-left: 10%;
}

.status-position {
    float: right;
    padding-right: 10%;
    text-align: center;
}

.container-a-link {
    display: inline;
    padding: 25px;
    text-align: center;
    background-color: #22262e;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container-a-link:hover {
    background-color: #9ea7af;
    color: #222222;
    font-weight: 100;   
}

.container-sq {
    background-color: #22262e;
    margin-top: 20%;
    text-align: center;
    padding: 20px;
}
.container-status-queue {
    display: inline;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
}

.table-fill {
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #2c2a2a;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba (0, 0, 0, 0.1);
    vertical-align: middle;
    
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #666b85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba (256, 256, 256, 0.1);
}

tr:hover td {
    background: #4e5066;
    color: #fff;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td{
    background: rgb(50, 51, 53);
}

tr:nth-child(odd):hover td{
    background: #4e5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}


tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #fff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #c1c3d1;
}

td:last-child {
    border-right: 0px;
}

th.text-left{
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

.form-location {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

.form-fill {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: auto;
}

.form-location input {
    padding: 10px;
}

.form-location form {
    padding: 15px;

}

.myButton {
	box-shadow: 3px 4px 0px 0px #5c5b5b;
	background:linear-gradient(to bottom, #22262e 5%, #666B85 100%);
	background-color:#343a45;
	border-radius:5px;
	border:1px solid #22262e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.links-postion {
    position: relative;
    top: 40%;
    color: white;
    width: 100%;
    height: 100%;
}